.design {
  @include desktop { height: 725px; }
  .img-container {
    position: relative;
    overflow: hidden;
    img {
      height: auto;
    }
    .overlay {
      position: absolute;
      bottom: 0;
      top: 50%;
      left: 50%;
      right: 0;
      background-color: transparent;
      overflow: hidden;
      width: 0;
      height: 100%;
      transition: .5s ease;
    }
    &:hover {
      .overlay { transform: translate(-237px, -250px); }
    }
  }
}