section.browser
  div.container.text-center
    h5 new features
    h2 Some awesone features
    p.col-xs-12.offset-md-2.col-md-8 Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Curabitur blandit tempus porttitor. Etiasem malesuada magn. Vestibulum felis euismod semper.
    div.m-auto
      img.img-fluid(src="img/browser.png")