section.description
  div.container
    div.row
      div.col-xs-12.col-md-6
        img.img-fluid(src="img/macbook.png")
      div.col-xs-12.col-md-6
        h5 new design
        h2 Responsive design, just need your tap
          span  ....
        p Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod. Vestibulum id ligula porta felis euismod semper.
