section.design
  div.container-fluid
    div.row
      div.col-xs-12.col-md-7
        h5 new design
        h2 There is no other platforms for you as like
          span  ....
        p Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod. Vestibulum id ligula porta felis euismod semper.
        p Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur. Donec ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum nulla sed consectetur. Nulla vitae elit libero, a pharetra augue.
      div.col-xs-12.col-md-5.img-container
        img.img-fluid(src="img/user.png")
        div.overlay.covered-right