section.features
  div.container.text-center
    div.headings-wrapper
      h5 new features
      h2 Some awesome features
    div.container
      div.row
        div.col-xs-12.col-md-4
          img(src="img/picture.png")
          h4 Some awesome features
          p Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur. Nulla vitae elit libero, a pharetra augue.
        div.col-xs-12.col-md-4
          img(src="img/airplane.png")
          h4 Some awesome features
          p Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur. Nulla vitae elit libero, a pharetra augue.
        div.col-xs-12.col-md-4
          img(src="img/bulb.png")
          h4 Some awesome features
          p Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur. Nulla vitae elit libero, a pharetra augue.