footer
  div.container
    div.row
      div.col-12.col-md-3
        img.img-fluid(src="img/logo.png")
        p Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam.
        p USA &  CAN: 1-888-123-4567
        p Address: 34 Brokel Rd. NY
      div.col-6.col-md-2
        ul.list-unstyled
          h5 Support
          li
            a(href="#") Help Center
          li
            a(href="#") Get Started
          li
            a(href="#") Contact Us
      div.col-6.col-md-2
        ul.list-unstyled
          h5 About
          li
            a(href="#") About Us
          li
            a(href="#") Terms of Use
          li
            a(href="#") Privacy Policy
      div.col-12.col-md-4
        h5 Get Newsletter
        form.d-flex.flex-nowrap.pb-2
          div
            label.sr-only(for="inputEmail") Email
            input.form-control#inputEmail(type="email", placeholder="Email")
          button.form-control.btn.btn-danger.accent-button(type="submit")
            i.fa.fa-paper-plane.icon.icon-plane

        div.links-container.d-flex.justify-content-around
          a(href="#")
            i.fa.fa-dribbble
          a(href="#")
            i.fa.fa-facebook-f
          a(href="#")
            i.fa.fa-google-plus
          a(href="#")
            i.fa.fa-twitter