footer
  div.container
    div.row
      div.col-3
        img.img-fluid(src="img/logo.png")
        p Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam.
        p USA &  CAN: 1-888-123-4567
        p Address: 34 Brokel Rd. NY
      div.col-2
        ul.list-unstyled.h5 Support
          li Help Center
          li Get Started
          li Contact Us
      div.col-2
        ul.list-unstyled.h5 About
          li About Us
          li Terms of Use
          li Privacy Policy
      div.col-4
        h5.h5 Get Newsletter
        form.form-inline
          div.form-group
            label.sr-only(for="inputEmail") Email
            input.form-control#inputEmail(type="email", placeholder="Email")
          button.btn.btn-danger(type="submit")
            i.fa.fa-paper-plane-o
        div.links-container.d-flex.justify-content-around
          a(href="#")
            i.fa.fa-behance
          a(href="#")
            i.fa.fa-facebook-f
          a(href="#")
            i.fa.fa-google-plus
          a(href="#")
            i.fa.fa-twitter

