header.w-100
  div.container.text-center
    div.header-wrapper
      h1 There is no other platforms for you as like
      button.btn.play-video
        i.fa.fa-play.fa-inverse(aria-hidden="true")
      br
      button.btn.btn-danger.try-now try now
      p * No need to add cards details
  //video
    //source