section.team
  div.container.text-center
    div.row.team-container
      div.co-founder.col-xs-12.col-md-4
        img.img-fluid.rounded(src="img/user-placeholder-image.png")
        p.name Jonathon Doe
        p.position Co Founder
        p
          em “Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id gravida at eget metus. Etiasem malesuada magn”
      div.co-founder.col-xs-12.col-md-4
        img.img-fluid.rounded(src="img/user-placeholder-image.png")
        p.name Jonathon Doe
        p.position Co Founder
        p
          em “Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id gravida at eget metus. Etiasem malesuada magn”
      div.co-founder.col-xs-12.col-md-4
        img.img-fluid.rounded(src="img/user-placeholder-image.png")
        p.name Jonathon Doe
        p.position Co Founder
        p
          em “Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id gravida at eget metus. Etiasem malesuada magn”

    div.d-flex.flex-wrap.justify-content-around.logos-container
      div.logo
        img.img-fluid(src="img/partner-logo-1.png")
      div.logo
        img.img-fluid(src="img/partner-logo-4.png")
      div.logo
        img.img-fluid(src="img/partner-logo-5.png")
      div.logo
        img.img-fluid(src="img/partner-logo-7.png")
      div.logo
        img.img-fluid(src="img/partner-logo-8.png")
