section.trial
  div.container.text-center
    h5 new features
    h2 Over 1000 designers are using ...

    form.form-inline
      input.form-control(type="text", placeholder="full name")
      input.form-control(type="email", placeholder="your email")
      input.form-control(type="password", placeholder="password")
      button.form-control(type="submit", data-toggle="tooltip", data-placement="top", title="30 days free trial for all." data-animation) try now

    p By Signing up you agree to our
      a(href="#")  terms & Services.