.icon-plane:before {
  content: url("../img/paper-plane.png");
}
.icon-arrow:before {
  content: url("../img/arrow.png");
}

.icon-google-plus:before {
  content: url("../img/googleplus.png");
}