body {
  * {
    font-family: 'Exo', sans-serif;
    color: $black;
  }
  section {

  }

  h1 {
    font: {
      size: 40px;
      weight: 100;
    }
    @include largeDesktop {
      font-size: 60px;
      line-height: 1.25;
    }
  }
  h2 {
    line-height: 50px;
    font: {
      size: 40px;
      weight: 400;
    };
    span { color: $accent-color; }
  }
  h4 {
    line-height: 35px;
    font: {
      size: 22px;
      weight: 400;
    };
  }
  h5 {
    font: {
      size: 16px;
      weight: 400;
    };
    color: $accent-color;
    text-transform: uppercase;
  }

  .headings-wrapper {
    margin-bottom: 3em;
  }

  p {
    opacity: 0.66;
    font-weight: 400;
  }

  .covered-right {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 300px 407px;
    border-color: transparent transparent $accent-color transparent;
    overflow: hidden;
  }

  .accent-button {
    color: white;
    background-color: $accent-color;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 100;
    border: none;
    &:hover {
      background-color: lighten($accent-color, 10%);
    }
  }

  .custom-tooltip + .tooltip.top {
    .tooltip-inner, .tooltip-arrow {
      background-color: transparent;
      color: white;
      @extend .icon-arrow;
    }
  }
}